<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>emp_mgr_dept</h1>
        <table border="5px">
            <tr>
                <th>Ename</th>
                <th>Manager Name</th>
                <th>Dept Name</th>
                <th>Dept Location</th>
                <th>Hireadate</th>
                <th>Commission</th>
                <th>Salary</th>
                <th>Dept No</th>
                <th>Job</th>
            </tr>

            {% for eo in emd %}
                <tr>
                    <td>{{eo.ename}}</td>
                    <td>{{eo.mgr.ename}}</td>
                    <td>{{eo.deptno.dname}}</td>
                    <td>{{eo.deptno.dlocation}}</td>
                    <td>{{eo.hiredate}}</td>
                    <td>{{eo.comm}}</td>
                    <td>{{eo.sal}}</td>
                    <td>{{eo.deptno}}</td>
                    <td>{{eo.job}}</td>
                </tr>







            {% endfor %}


             
        </table>
    </center>
</body>
</html>